@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  position: relative;
}

.header {
  height: 100vh;
  background-image: url("./img/lily-banse--YHSwy6uqvk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

.header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: rgb(241, 241, 241);
  text-shadow: 2px 2px #444343;
}

.search-form {
  background-color: white;
  border-radius: 4rem;
  overflow: hidden;
  width: min-content;
  display: flex;
  margin-top: 5rem;
}

.search-form__input {
  padding: 1rem;
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  width: 200px;
  outline: 0;
  transition: all 0.3s;
}

.search-form button {
  background-color: rgb(255, 215, 215);
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.results {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
  width: 25%;
  height: 25vh;
}

.card-title {
  color: rgb(247, 246, 245);
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgb(71, 71, 71),
    rgba(44, 44, 44, 0.384)
  );
  width: 100%;
  z-index: 5;
  text-shadow: 2px 2px #4b4b4b;
  transition: all 0.3s ease-in;
  padding: 0.5rem;
}

.card:hover .card-title {
  opacity: 0;
}

.card img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  /* filter: sepia(100%);  */
}

.card:hover {
  color: transparent;
  transition: all 0.3s;
  z-index: 5;
  transform: scale(1.2);
}

.card:hover img {
  filter: sepia(0);
  /* backdrop-filter: saturate(1000%); */
}

.grow {
  transform: scale(5);
  opacity: 0;
  visibility: hidden;
}

.recipe__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  height: min-content;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

.recipe {
  background-color: rgb(255, 211, 154);
  flex-direction: column;
  position: relative;
  width: 80%;
  min-height: 50vw;
  display: flex;
}

.close__btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.img__container {
  background-color: #444343;
  height: 100%;
}

.recipe__img {
  object-position: center;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 25rem;
  object-position: center;
}

.recipe__details {
  padding: 4rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.recipe__btns {
  display: flex;
  gap: 2rem;
}

.recipe__ingredients h2 {
  text-align: center;
}

.recipe__ingredients ul {
  margin: 1rem;
  columns: 2;
  list-style: none;
}

ul li {
  margin: 1rem 0;
}

footer {
  margin: 5rem;
}

.blow {
  animation: blowUpContent 0.5s;
}

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
